/* line 133, ../src/Components/layout/_gridflex.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    /* line 133, ../src/Components/layout/_gridflex.scss */
    .container {
      width: 710px; } }
  @media (min-width: 1024px) {
    /* line 133, ../src/Components/layout/_gridflex.scss */
    .container {
      width: 990px; } }

/* line 144, ../src/Components/layout/_gridflex.scss */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

@media (max-width: 767px) {
  /* line 60, ../src/Components/layout/_gridflex.scss */
  .mobile-1, .mobile-2, .mobile-3, .mobile-4, .mobile-5, .mobile-6, .mobile-7, .mobile-8, .mobile-9, .mobile-10, .mobile-11, .mobile-12 {
    max-width: 8.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-1 {
    max-width: 8.33333333%;
    flex-basis: 8.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-2 {
    max-width: 16.66666667%;
    flex-basis: 16.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-3 {
    max-width: 25%;
    flex-basis: 25%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-4 {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-5 {
    max-width: 41.66666667%;
    flex-basis: 41.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-6 {
    max-width: 50%;
    flex-basis: 50%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-7 {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-8 {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-9 {
    max-width: 75%;
    flex-basis: 75%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-10 {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-11 {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .mobile-12 {
    max-width: 100%;
    flex-basis: 100%; } }
@media (min-width: 768px) {
  /* line 60, ../src/Components/layout/_gridflex.scss */
  .tablet-1, .tablet-2, .tablet-3, .tablet-4, .tablet-5, .tablet-6, .tablet-7, .tablet-8, .tablet-9, .tablet-10, .tablet-11, .tablet-12 {
    max-width: 8.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-1 {
    max-width: 8.33333333%;
    flex-basis: 8.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-2 {
    max-width: 16.66666667%;
    flex-basis: 16.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-3 {
    max-width: 25%;
    flex-basis: 25%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-4 {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-5 {
    max-width: 41.66666667%;
    flex-basis: 41.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-6 {
    max-width: 50%;
    flex-basis: 50%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-7 {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-8 {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-9 {
    max-width: 75%;
    flex-basis: 75%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-10 {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-11 {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .tablet-12 {
    max-width: 100%;
    flex-basis: 100%; } }
@media (min-width: 1024px) {
  /* line 60, ../src/Components/layout/_gridflex.scss */
  .desktop-1, .desktop-2, .desktop-3, .desktop-4, .desktop-5, .desktop-6, .desktop-7, .desktop-8, .desktop-9, .desktop-10, .desktop-11, .desktop-12 {
    max-width: 8.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-1 {
    max-width: 8.33333333%;
    flex-basis: 8.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-2 {
    max-width: 16.66666667%;
    flex-basis: 16.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-3 {
    max-width: 25%;
    flex-basis: 25%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-4 {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-5 {
    max-width: 41.66666667%;
    flex-basis: 41.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-6 {
    max-width: 50%;
    flex-basis: 50%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-7 {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-8 {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-9 {
    max-width: 75%;
    flex-basis: 75%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-10 {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-11 {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%; }

  /* line 67, ../src/Components/layout/_gridflex.scss */
  .desktop-12 {
    max-width: 100%;
    flex-basis: 100%; } }
/* line 1, ../src/Components/base/_base.scss */
* {
  margin: 0;
  box-sizing: border-box; }

/* line 5, ../src/Components/base/_base.scss */
.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

/* line 8, ../src/Components/base/_base.scss */
.make-col-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    /* line 8, ../src/Components/base/_base.scss */
    .make-col-6 {
      flex: 0 0 50%;
      max-width: 50%; } }

/*# sourceMappingURL=style.css.map */
